wheel==0.38.4
setuptools==67.2.0
twine==4.0.2
build==0.10.0
html-testRunner~=1.2.1

# mypy==0.991
mypy==1.0.0
mypy-extensions~= 0.4.3
typing_extensions==4.4.0
types-setuptools==67.2.0.1

wxpython~=4.2.0

pyutmodel==1.4.0
ogl==0.70.0
untanglepyut==0.6.20