wheel~=0.37.1
setuptools==65.4.1
twine==4.0.1
build==0.8.0
html-testRunner~=1.2.1

mypy==0.982
mypy-extensions~= 0.4.3
typing_extensions==4.4.0
types-setuptools==65.4.0.0

pyutmodel==1.1.0
ogl==0.60.5
untanglepyut==0.5.1

wxpython~=4.2.0
